svg display="none" xmlns="http://www.w3.org/2000/svg" 
  /! Put it into @include(sprite.svg); or something
  =render partial: 'application/index/svg/delete'
  =render partial: 'application/index/svg/devices'
  =render partial: 'application/index/svg/edit'
  =render partial: 'application/index/svg/exit'
  =render partial: 'application/index/svg/gear'
  =render partial: 'application/index/svg/heart'
  =render partial: 'application/index/svg/hexagon'
  =render partial: 'application/index/svg/honor'
  =render partial: 'application/index/svg/lightbulb'
  =render partial: 'application/index/svg/mailbox'
  =render partial: 'application/index/svg/mark'
  =render partial: 'application/index/svg/molecule'
  =render partial: 'application/index/svg/more'
  =render partial: 'application/index/svg/planets'
  =render partial: 'application/index/svg/rocket'
  =render partial: 'application/index/svg/shield'
  =render partial: 'application/index/svg/star'
  =render partial: 'application/index/svg/sufi'
  =render partial: 'application/index/svg/typo'
  =render partial: 'application/index/svg/user'
